@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Frijole", cursive;
  color: black;
  height: 100vh;
  text-align: center;
  line-height: 2;
}

.seven {
  font-size: 60px;
  line-height: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-background {
  height: 10vh;
  background-image: url("images/grass-background.jpeg");
  border-bottom: 4px solid rgb(218, 166, 70);
}

.bottom-background {
  height: 10vh;
  background-image: url("images/grass-background.jpeg");
  border-top: 4px solid rgb(218, 166, 70);
}

.section {
  flex: 1;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.age {
  line-height: 2;
}

.zombie-sign img {
  width: 200px;
}
/* .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  backdrop-filter: blur(1px);
}

.info h1 {
  margin-bottom: 3rem;
}

.size {
  position: absolute;
  bottom: 5px;
  width: 40%;
  animation: swing ease-in-out 1s infinite alternate;
  animation-name: animate;
}

.zombie-plant {
  left: 10px;
}

.zombie {
  right: 5px;
}

@keyframes animate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media screen and (min-width: 800px) {
  .size {
    width: 350px;
  }
} */
