* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(232, 232, 232);
  height: 100vh;
  text-align: center;
  padding: 1rem;
  background-image: url("./images/grass-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.info h1 {
  margin-bottom: 3rem;
}

.size {
  position: absolute;
  bottom: 5px;
  width: 40%;
}

.zombie-plant {
  left: 10px;
}

.zombie {
  right: 5px;
}

@media screen and (min-width: 800px) {
  .size {
    width: 350px;
  }
}
