* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  letter-spacing: 2px;
  padding: 1rem;
  background-image: url("./images/grass-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
